[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
	branch = master
[submodule "vendor/portaudio"]
	path = vendor/portaudio
	url = https://github.com/PortAudio/portaudio.git
	branch = master
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
	branch = master
[submodule "vendor/libsamplerate"]
	path = vendor/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
	branch = master
